<div>

	<div class = "container-fluid">
		<h1>Payment Test</h1>
		<p>1 USD = <%= @rate %> BTC</p>


		<a class = "btn btn-primary" href = <%=  @address %> >Checkout</a>

		<form action="https://www.coinpayments.net/index.php" method="post">
			<input type="hidden" name="cmd" value="_pay">
			<input type="hidden" name="reset" value="1">
			<input type="hidden" name="merchant" value="3af2ef56e639cd35a9743580f178952b">
			<input type="hidden" name="item_name" value="Koobi Special">
			<input type="hidden" name="item_number" value="245">
			<input type="hidden" name="invoice" value="6253">
			<input type="hidden" name="currency" value="USD">
			<input type="hidden" name="amountf" value="30.00000000">
			<input type="hidden" name="quantity" value="1">
			<input type="hidden" name="allow_quantity" value="0">
			<input type="hidden" name="want_shipping" value="1">
			<input type="hidden" name="success_url" value="/">
			<input type="hidden" name="allow_extra" value="0">
			<input type="image" src="https://www.coinpayments.net/images/pub/CP-main-large.png" alt="Buy Now with CoinPayments.net">
		</form>

	</div>



</div>